# Python bytecode
*.pyc
*.pyo
__pycache__/

# Django migrations
*/migrations/

# Database files
db.sqlite3

# Virtual environment
venv/
.env/

# IDE/editor files
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db
